@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: hsl(0, 0%, 8%);
}
.container {
  padding: 50px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: hsl(0, 0%, 12%);
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  flex-direction: column;
  border-radius: 5px;
}
.jessica {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: larger;
  color: aliceblue;
}
p {
  margin-top: 0px;
}
span {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  color: rgb(169, 247, 35);
  font-size: smaller;
  margin-top: 0px;
}
.bio {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: small;
  margin-bottom: 10px;
  color: gainsboro;
}
button {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: small;
  border-radius: 6px;
  background-color: hsl(0, 0%, 20%);
  border: none;
  color: aliceblue;
}
